<button
  (click)="toggle()"
  class="flex items-center
  w-14 h-8 bg-gray-300 dark:bg-gray-700 rounded-full p-1 transition-colors focus:outline-none select-none text-xl"
  aria-label="Toggle Dark Mode"
>
  <div
    class="rounded-full w-6 h-6 shadow-md transform transition-transform flex items-center justify-center text-yellow-400 dark:text-white"
    [class.translate-x-6]="themeService.isDarkTheme$|async"
    [class.translate-x-0]="!(themeService.isDarkTheme$|async)"
  >
    <span *ngIf="!(themeService.isDarkTheme$|async)">🌞</span>
    <span *ngIf="themeService.isDarkTheme$|async">🌙</span>
  </div>
</button>
